@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@200;300;500;600&display=swap");
/***********************
* DEVICES
************************/
/***********************
* TYPOGRAPHY
************************/
/***********************
* MEDIA QUERIES
************************/
.container {
  padding: 2rem;
  margin: auto;
}

.header {
  height: 80px;
  width: 100%;
  position: relative;
  z-index: 19;
}

@media screen and (min-width: 1024px) {
  .header {
    z-index: 1;
  }
}

.header__container {
  padding: 2rem 1.4rem;
}

@media screen and (min-width: 1024px) {
  .header__container {
    padding: 2rem 6rem;
  }
}

@media screen and (min-width: 1440px) {
  .header__container {
    padding: 2rem 17rem;
  }
}

.header__hr {
  display: none;
}

@media screen and (min-width: 1024px) {
  .header__hr {
    display: block;
    width: 100%;
    height: 0.81px;
    background-color: #d1d6e1;
    margin: 0;
    opacity: 0.3;
    margin: 1rem 0;
  }
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  margin: 0;
}

.navbar__btn {
  width: 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  background-color: transparent;
  border: none;
  cursor: pointer;
  z-index: 31;
}

@media screen and (min-width: 1024px) {
  .navbar__btn {
    display: none;
  }
}

@media screen and (min-width: 1024px) {
  .navbar__btn-open {
    display: none;
  }
}

.navbar__btn-close {
  display: none;
}

@media screen and (min-width: 1024px) {
  .navbar__logo {
    padding: 0;
  }
}

.navbar__list {
  position: absolute;
  top: 0;
  right: 6%;
  left: -2%;
  z-index: 30;
  width: 70%;
  height: 100vh;
  list-style: none;
  background-color: white;
  padding: 7rem 0;
  display: none;
}

@media screen and (min-width: 1024px) {
  .navbar__list {
    position: unset;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 20px;
    width: 34%;
    background-color: transparent;
    padding: 0 0 0 2rem;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}

@media screen and (min-width: 1440px) {
  .navbar__list {
    top: -70px;
    right: 100px;
    left: 441px;
  }
}

.navbar .hide {
  display: none;
}

.navbar .show-popuptext {
  display: block;
}

.navbar .show {
  display: block;
}

@media screen and (min-width: 1024px) {
  .navbar .show {
    display: none;
  }
}

.navbar__list-item {
  text-align: start;
  padding: 0.7rem 2.4rem;
  z-index: 60;
}

.navbar__list-item:hover {
  -webkit-transform: translateX(9px);
          transform: translateX(9px);
  color: #ff7d1a;
}

@media screen and (min-width: 1024px) {
  .navbar__list-item {
    width: 80px;
    padding: 0;
    text-align: center;
  }
}

.navbar__list-item-link {
  width: 100%;
  font-size: 14px;
  font-weight: 900;
  color: #a6a8ab;
  text-decoration: none;
}

.navbar__list-item-link:hover {
  padding: 0.4rem 0;
  border-bottom: 2px solid #ff7d1a;
  -webkit-animation: addx;
          animation: addx;
  color: #ff7d1a;
}

@-webkit-keyframes addx {
  from {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  to {
    -webkit-transform: scaleX() 100%;
            transform: scaleX() 100%;
  }
}

@keyframes addx {
  from {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  to {
    -webkit-transform: scaleX() 100%;
            transform: scaleX() 100%;
  }
}

@media screen and (min-width: 1024px) {
  .navbar__list-item-link:hover {
    padding: 1.7rem 0;
  }
}

.navbar__move-in {
  display: block;
  position: absolute;
  top: 0;
  right: 6%;
  left: -2%;
  max-width: 100%;
  height: 100vh;
  list-style: none;
  background-color: white;
  padding: 7rem 0;
  -webkit-animation: slidein 1s;
          animation: slidein 1s;
}

@-webkit-keyframes slidein {
  from {
    -webkit-transform: translateX(-80%);
            transform: translateX(-80%);
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes slidein {
  from {
    -webkit-transform: translateX(-80%);
            transform: translateX(-80%);
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@media screen and (min-width: 1024px) {
  .navbar__move-in {
    display: none;
  }
}

.navbar__move-out {
  display: block;
  position: absolute;
  top: 0;
  right: 0%;
  left: -1px;
  z-index: 30;
  max-width: 100%;
  height: 945px;
  list-style: none;
  background-color: white;
  padding: 7rem 0;
  -webkit-animation: slideout 1s ease-in-out;
          animation: slideout 1s ease-in-out;
}

@media screen and (min-width: 1024px) {
  .navbar__move-out {
    display: none;
  }
}

@-webkit-keyframes slideout {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(-600px);
            transform: translateX(-600px);
  }
}

@keyframes slideout {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(-600px);
            transform: translateX(-600px);
  }
}

.navbar__shop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 70px;
}

.navbar__text {
  position: absolute;
  width: 23px;
  height: 15px;
  text-align: center;
  top: 23px;
  right: 68px;
  color: white;
  background-color: #ff7d1a;
  border-radius: 50%;
  font-size: 12px;
  font-weight: 900;
  z-index: 4;
  display: none;
}

@media screen and (min-width: 1024px) {
  .navbar__text {
    position: absolute;
    width: 23px;
    height: 15px;
    text-align: center;
    top: 31px;
    right: 141px;
    color: white;
    background-color: #ff7d1a;
    border-radius: 50%;
    font-size: 12px;
    font-weight: 900;
    z-index: 4;
    display: none;
  }
}

@media screen and (min-width: 1440px) {
  .navbar__text {
    top: 31px;
    right: 320px;
    color: white;
  }
}

.navbar__shop-cart-icon {
  border: none;
  background-color: transparent;
}

.navbar__shop-profile-picture {
  width: 25px;
  height: 25px;
  margin: 0 1rem;
}

.navbar__shop-profile-picture:hover {
  border-radius: 50%;
  border: 0.001rem solid #ff7d1a;
}

@media screen and (min-width: 1024px) {
  .navbar__shop-profile-picture {
    width: 40px;
    height: 40px;
  }
}

.popup-show {
  position: absolute;
  width: 20px;
  height: 15px;
  text-align: center;
  top: 27px;
  color: white;
  background-color: #ff7d1a;
  border-radius: 50%;
  font-size: 12px;
  font-weight: 900;
  z-index: 4;
  display: block;
}

.hide-scroll {
  overflow: hidden;
  height: 50%;
}

/*
// * overlay section
// */
.overlay::before {
  content: "";
  opacity: 0.77;
  width: 32%;
  height: 100vh;
  display: block;
  right: 0;
  top: 0;
  position: absolute;
  background: black;
  z-index: 5;
  -webkit-animation: slidex 1s;
          animation: slidex 1s;
}

@-webkit-keyframes slidex {
  from {
    -webkit-transform: translateX(-400px);
            transform: translateX(-400px);
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes slidex {
  from {
    -webkit-transform: translateX(-400px);
            transform: translateX(-400px);
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@media screen and (min-width: 768px) {
  .overlay::before {
    max-width: 100%;
    -webkit-animation: slidexx 1s;
            animation: slidexx 1s;
  }
  @-webkit-keyframes slidexx {
    from {
      -webkit-transform: translateX(-610px);
              transform: translateX(-610px);
    }
    to {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
  }
  @keyframes slidexx {
    from {
      -webkit-transform: translateX(-610px);
              transform: translateX(-610px);
    }
    to {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
  }
}

@media screen and (min-width: 768px) and (min-width: 1024px) {
  .overlay::before {
    display: none;
  }
}

.overlay-out::before {
  content: "";
  opacity: 0.77;
  width: 103px;
  height: 100vh;
  display: block;
  right: 0;
  top: 0;
  position: absolute;
  background: black;
  z-index: 5;
  -webkit-animation: slidex 1s;
          animation: slidex 1s;
}

@keyframes slidex {
  from {
    -webkit-transform: translateX(-300px);
            transform: translateX(-300px);
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@media screen and (min-width: 1024px) {
  .overlay-out::before {
    display: none;
  }
}

.shoping-cart {
  display: block;
  margin: auto;
  width: 97%;
  height: 259px;
  background-color: white;
  border-radius: 15px;
  position: absolute;
  top: 97px;
  left: 6px;
  z-index: 4;
  display: none;
}

@media screen and (min-width: 768px) {
  .shoping-cart {
    margin: 0 auto;
    width: 50%;
    top: 74px;
    left: 300px;
  }
}

@media screen and (min-width: 1024px) {
  .shoping-cart {
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
    width: 32%;
    top: 8.6%;
    /* right: -102%; */
    left: 63%;
    margin: 0;
  }
}

@media screen and (min-width: 1440px) {
  .shoping-cart {
    width: 21%;
    top: 8.6%;
    left: 71%;
  }
}

.shoping-cart__popup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.shoping-cart__titlecart {
  font-weight: 700;
  padding: 1rem 0 1.5rem 1.5rem;
}

.shoping-cart__hr {
  display: block;
  width: 100%;
  height: 0.81px;
  background-color: #d1d6e1;
  margin: 0;
  opacity: 0.3;
}

.shoping-cart__main-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1rem 0;
  display: none;
}

.shoping-cart__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1rem;
  padding: 1.5rem 1.5rem 0 1.5rem;
}

.shoping-cart__title {
  padding: 0 1rem;
  font-size: 16px;
  color: #68707d;
  font-weight: 400;
}

.shoping-cart__text {
  padding: 0 1rem;
  color: #68707d;
  font-weight: 400;
}

.shoping-cart__span {
  font-weight: 900;
  color: black;
}

.shoping-cart__img {
  width: 48px;
  border-radius: 5px;
}

.shoping-cart__delete {
  border: none;
  padding: 0 0 0 3rem;
  background-color: transparent;
}

.shoping-cart__btn {
  background-color: #ff7d1a;
  border: none;
  border-radius: 7px;
  padding: 1.1rem;
  color: #ffede0;
  font-weight: 700;
  margin: 0 1.5rem;
  font-size: 14px;
}

.shoping-cart__empty {
  margin: 0 auto;
  padding: 4rem;
  text-transform: capitalize;
}

.hero {
  width: 100%;
  position: relative;
  z-index: 1;
}

@media screen and (min-width: 1024px) {
  .hero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    max-width: 1292px;
  }
}

@media screen and (min-width: 1440px) {
  .hero {
    max-width: 1392px;
    margin: 0 auto;
  }
}

.hero__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (min-width: 1024px) {
  .hero__navigation {
    display: none;
  }
}

.hero__prev-btn {
  position: absolute;
  font-size: 25px;
  top: 20%;
  left: 10px;
  font-weight: 700;
}

.hero__next-btn {
  right: 10px;
  position: absolute;
  font-size: 25px;
  top: 20%;
}

.hero__prev-btn,
.hero__next-btn {
  background: white;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
          box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
}

@media screen and (min-width: 1024px) {
  .slider-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 50%;
  }
}

@media screen and (min-width: 1024px) and (min-width: 1440px) {
  .slider-container {
    max-width: 41%;
  }
}

.active {
  border-color: rgba(252, 160, 175, 0.7) !important;
}

.slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 100%;
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .slider {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
  }
}

@media screen and (min-width: 1024px) {
  .slider {
    width: 100%;
    display: block;
    overflow: hidden;
    z-index: 7;
  }
}

@media screen and (min-width: 1440px) {
  .slider {
    justify-items: center;
    -ms-flex-line-pack: center;
        align-content: center;
    max-width: 100%;
  }
}

.slider__list {
  display: none;
  max-width: 100%;
}

@media screen and (min-width: 1024px) {
  .slider__list {
    max-width: 88%;
    z-index: 4;
  }
}

@media screen and (min-width: 1440px) {
  .slider__list {
    width: 89%;
  }
}

.slider__list-img {
  width: 100vw;
  height: 367px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
}

@media screen and (min-width: 768px) {
  .slider__list-img {
    width: 80vw;
    height: 550px;
  }
}

@media screen and (min-width: 1024px) {
  .slider__list-img {
    width: 370px;
    height: 84%;
    -o-object-fit: cover;
       object-fit: cover;
    margin: 4rem 2rem 0 4rem;
    -o-object-position: 50% 50%;
       object-position: 50% 50%;
    border-radius: 9px;
  }
}

@media screen and (min-width: 1024px) {
  .slider__list-item-img {
    width: 40vmin;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: top;
       object-position: top;
    border-radius: 10px;
  }
}

.thumbnails {
  display: none;
}

@media screen and (min-width: 1024px) {
  .thumbnails {
    display: none;
  }
}

@media screen and (min-width: 1024px) {
  .thumbnails {
    width: 81%;
    margin: 1rem 0 0 3rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    line-height: 0;
    line-height: 2px;
    list-style: none;
  }
}

.thumbnails__item {
  margin: 0;
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
}

.thumbnails__item-link {
  display: block;
}

.thumbnails__img {
  max-width: 9vmin;
  border-radius: 5px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}

.thumbnails__img:hover {
  border: 2px solid #ff7d1a;
  opacity: 0.5;
}

@media screen and (min-width: 1440px) {
  .thumbnails__img {
    max-width: 8vmin;
  }
}

.hide {
  display: none;
}

.show-up {
  display: block;
  margin: 0 auto;
  padding: 4rem;
  text-transform: capitalize;
}

.show {
  display: block;
  margin: 0;
}

.show-popup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1rem 0;
}

@media screen and (min-width: 1024px) {
  .main-overlay {
    display: none;
  }
}

.overlay__navigation {
  display: none;
}

@media screen and (min-width: 1024px) {
  .overlay__navigation {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    top: 50%;
    z-index: 60;
  }
}

.overlay__prev-btn {
  position: absolute;
  left: 37px;
}

.overlay__next-btn {
  position: absolute;
  left: 446px;
}

.overlay__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.glider {
  display: none;
}

@media screen and (min-width: 1024px) {
  .glider {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    width: 51vmin;
    overflow: hidden;
    height: 53vmin;
    list-style: none;
  }
}

@media screen and (min-width: 1440px) {
  .glider {
    justify-items: center;
    -ms-flex-line-pack: center;
        align-content: center;
    max-width: 100%;
  }
}

.glider__list {
  max-width: 100%;
}

@media screen and (min-width: 1024px) {
  .glider__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 88%;
    z-index: 4;
  }
}

@media screen and (min-width: 1440px) {
  .glider__list {
    width: 89%;
  }
}

@media screen and (min-width: 1024px) {
  .glider__list-img {
    width: 370px;
    height: 82%;
    -o-object-fit: cover;
       object-fit: cover;
    margin: 4rem 2rem 0 4rem;
    -o-object-position: 50% 50%;
       object-position: 50% 50%;
    border-radius: 9px;
  }
}

.glider-change {
  display: block;
  z-index: 20;
  position: absolute;
  display: block;
  z-index: 20;
  margin: 0 auto;
  padding: 0;
}

.humbnails {
  display: none;
}

@media screen and (min-width: 1024px) {
  .humbnails {
    display: none;
  }
}

@media screen and (min-width: 1024px) {
  .humbnails {
    width: 89%;
    margin: 1rem 0 0 4rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    line-height: 0;
    line-height: 2px;
    list-style: none;
  }
}

.humbnails__item {
  margin: 0;
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
}

.humbnails__item-link {
  display: block;
}

.humbnails__img {
  max-width: 9vmin;
  border-radius: 5px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}

.humbnails__img:hover {
  border: 2px solid #ff7d1a;
  opacity: 0.5;
}

@media screen and (min-width: 1440px) {
  .humbnails__img {
    max-width: 8vmin;
  }
}

.active-ocerlay {
  border-color: rgba(252, 160, 175, 0.7) !important;
}

@media screen and (min-width: 1024px) {
  .description-section {
    margin: 6rem 28px;
    width: 48%;
  }
}

@media screen and (min-width: 1440px) {
  .description-section {
    max-width: 40%;
  }
}

.description {
  padding: 0 1.4rem;
}

@media screen and (min-width: 1440px) {
  .description {
    margin: 0 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.description__small {
  text-transform: uppercase;
  color: #ff7d1a;
  font-size: 12px;
  font-weight: 900;
  letter-spacing: 0.15rem;
  padding-top: 1rem;
  -webkit-box-shadow: #ffede0;
          box-shadow: #ffede0;
}

@media screen and (min-width: 1024px) {
  .description__small {
    font-size: 0.7rem;
    letter-spacing: 0.1031rem;
  }
}

.description__title {
  font-size: 28px;
  padding-top: 0.9rem;
  font-weight: 700;
  padding-bottom: 1rem;
}

@media screen and (min-width: 1024px) {
  .description__title {
    margin: 0;
    padding: 0;
    font-size: 36px;
    max-width: 387px;
  }
}

.description__text {
  width: 100%;
  max-width: 3336px;
  text-align: start;
  color: #68707d;
  font-weight: 400;
  font-size: 15px;
  opacity: 0.9;
}

@media screen and (min-width: 768px) {
  .description__text {
    max-width: 100%;
  }
}

@media screen and (min-width: 1024px) {
  .description__text {
    max-width: 92%;
  }
}

@media screen and (min-width: 1440px) {
  .description__text {
    max-width: 80%;
  }
}

.price-container {
  padding: 1.4rem;
}

@media screen and (min-width: 1440px) {
  .price-container {
    padding: 1rem 1.4rem 0 1.4rem;
  }
}

.price {
  padding: 1rem 0;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (min-width: 1024px) {
  .price {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.price__main {
  width: 146px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.price__text {
  font-weight: 900;
  font-size: 26px;
}

.price__text-discount {
  text-align: center;
  width: 40px;
  font-weight: 12px;
  height: 25px;
  font-weight: 900;
  color: #ff7d1a;
  background-color: #ffede0;
}

.price__text-original-price {
  font-weight: 900;
  color: #d1d6e1;
  text-decoration: line-through;
}

@media screen and (min-width: 1024px) {
  .counter-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.counter {
  width: 100%;
  border-radius: 10px;
  height: 56px;
  background-color: #f7f8fd;
  border: 1px solid #f7f8fd;
}

@media screen and (min-width: 1024px) {
  .counter {
    width: 30%;
    margin: 0 1rem 0 0;
  }
}

.counter__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
}

.counter__text {
  color: black;
  font-weight: 900;
}

.counter__btn-minus {
  border: none;
  background-color: transparent;
}

.counter__btn-minus:hover {
  opacity: 0.5;
}

.counter__btn-plus {
  border: none;
  background-color: transparent;
}

.counter__btn-plus:hover {
  opacity: 0.5;
}

.cart {
  border: none;
  margin: 1rem 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
  height: 56px;
  background-color: #ff7d1a;
}

.cart:hover {
  opacity: 0.5;
}

@media screen and (min-width: 1024px) {
  .cart {
    margin: 0;
    width: 50%;
  }
}

@media screen and (min-width: 1440px) {
  .cart {
    width: 40%;
  }
}

.cart__text {
  color: #f7f8fd;
  font-weight: 900;
  padding: 0 1rem;
}

.overlay-show {
  display: none;
}

@media screen and (min-width: 1024px) {
  .overlay-show {
    -o-object-position: 50% 50%;
       object-position: 50% 50%;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0%;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    z-index: 20;
  }
  .overlay-show::before {
    content: "";
    width: 100vw;
    height: 100vh;
    display: block;
    background-color: black;
    opacity: 0.77;
    pointer-events: none;
    pointer-events: all;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Kumbh Sans", sans-serif;
}

body.no-scroll {
  overflow: hidden;
}

h1,
h2,
h3 {
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 300;
}

p {
  line-height: 1.5;
  font-weight: 300;
}

button {
  cursor: pointer;
}

.sr-only {
  height: 0;
  width: 0;
  overflow: hidden;
  display: block;
}

a {
  text-decoration: none;
  padding: 0;
}
/*# sourceMappingURL=index.css.map */