.header {
    height: 80px;
    position: relative;
    @include laptop-query {
        border-bottom: 0.006px solid $c-Grayish-blue-border;
    }
    &__container {
        padding: 2rem 1.4rem;
        @include laptop-query {
            padding: 2rem 6rem;
        }
    }
}

.navbar {
    display: flex;
    justify-content: space-between;
    // align-items: flex-end;

    &__menu {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        padding: 0;
        margin: 0;
        z-index: 31;
    }
    &__btn {
        display: flex;
        justify-content: center;
        align-content: center;
        background-color: transparent;
        border: none;
        cursor: pointer;
        z-index: 31;
    }
    &__btn-open {
        @include laptop-query {
            display: none;
        }
    }
    &__btn-close {
        display: none;
    }
    &__logo {
        width: 130px;
        height: 18px;
        padding: 0 14px;
    }
    &__list {
        position: absolute;
        top: 0;
        right: 6%;
        left: -2%;
        z-index: 30;
        width: 70%;
        height: 100vh;
        list-style: none;
        background-color: $c-White;
        padding: 7rem 0;
        display: none;

        @include laptop-query {
            display: flex;
            justify-content: flex-start;
            align-content: center;
            position: relative;
            height: 100%;
            padding: 0;
            margin: 0;
        }
    }
    .hide {
        display: none;
    }
    .show {
        display: block;
        @include laptop-query {
            display: none;
        }
    }
    &__list-item {
        text-align: start;
        padding: 0.7rem 2.4rem;
        z-index: 60;
        &:hover {
            transform: translateX(9px);
            color: $c-Orange;
        }
        @include laptop-query {
            width: 80px;
            padding: 0;
            text-align: center;
        }
    }

    &__list-item-link {
        width: 100%;
        font-size: $c-mfont-size;
        font-weight: $fw-bold;
        color: $c-Black;
        text-decoration: none;
        &:hover {
            color: $c-Orange;
        }
    }
    &__move-in {
        display: block;
        position: absolute;
        top: 0;
        right: 6%;
        left: -2%;
        z-index: 30;
        max-width: 100%;
        height: 945px;
        list-style: none;
        background-color: $c-White;
        padding: 7rem 0;
        animation: slidein 1s;
        @include laptop-query {
            display: block;
        }
        @keyframes slidein {
            from {
                transform: translateX(-80%);
            }

            to {
                transform: translateX(0);
            }
        }
        @include tablet-query {
        }
        @include laptop-query {
            display: none;
        }
    }
    &__move-out {
        display: block;
        position: absolute;
        top: 0;
        right: 0%;
        left: -1px;
        z-index: 30;
        max-width: 100%;
        height: 945px;
        list-style: none;
        background-color: $c-White;
        padding: 7rem 0;
        animation: slideout 1s ease-in-out;
        @include laptop-query {
            display: none;
        }
        @keyframes slideout {
            from {
                transform: translateX(0);
            }

            to {
                transform: translateX(-600px);
            }
        }
    }
    &__shop {
        display: flex;
        justify-content: space-between;
        width: 70px;
    }
    &__text {
        position: absolute;
        width: 20px;
        height: 15px;
        text-align: center;
        top: 21px;
        right: 67px;
        color: white;
        background-color: $c-Orange;
        border-radius: 50%;
        font-size: $c-Smfont-size;
        font-weight: $fw-bold;
        z-index: 4;
    }
    &__shop-cart-icon {
        // padding: 0 1rem;
        border: none;
        background-color: transparent;
    }
    &__shop-profile-picture {
        width: 35px;
        height: 35px;
        &:hover {
            border-radius: 50%;
            border: 0.001rem solid $c-Orange;
        }
    }
}
.hide-scroll {
    overflow: hidden;
    height: 50%;
}

/*
// * overlay section
// */
.overlay {
    &::before {
        content: "";
        opacity: 0.77;
        width: 32%;
        height: 100vh;
        display: block;
        right: 0;
        top: 0;
        position: absolute;
        background: $c-Black;
        z-index: 5;
        animation: slidex 1s;
        @keyframes slidex {
            from {
                transform: translateX(-400px);
            }

            to {
                transform: translateX(0);
            }
        }
        @include tablet-query {
            max-width: 100%;
            animation: slidexx 1s;
            @keyframes slidexx {
                from {
                    transform: translateX(-610px);
                }

                to {
                    transform: translateX(0);
                }
            }

            @include laptop-query {
                display: none;
            }
        }
    }
}
.overlay-out {
    &::before {
        content: "";
        opacity: 0.77;
        width: 103px;
        height: 100vh;
        display: block;
        right: 0;
        top: 0;
        position: absolute;
        background: $c-Black;
        z-index: 5;
        animation: slidex 1s;
        @keyframes slidex {
            from {
                transform: translateX(-300px);
            }

            to {
                transform: translateX(0);
            }
        }
        @include tablet-query {
        }
        @include laptop-query {
            display: none;
        }
    }
}
.overlay-large {
    position: fixed;
    // opacity: 0;
    top: 0%;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $c-Black;
    opacity: 0.77;
    pointer-events: none;
    z-index: 31;
    width: 100%;
    height: 100%;
    pointer-events: all;
}
